n8n/workflows/slack-event-router.workflow.json
{
  "id": "fz2cSNap0z6X3lIj",
  "name": "Slack Event Router",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {
          "resolveIds": true,
          "userIds": [
            "U0AMC5LECS1",
            "U05ASAB2Z5J",
            "UF09U6JDC",
            "U0972LJF3E1"
          ]
        }
      },
      "id": "router-001",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        0
      ],
      "webhookId": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "credentials": {
        "slackApi": {
          "id": "ozsavCtpO86MX3wy",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "r001",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "C01B0JF75H7",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "r002",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "CHTU258FQ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "router-002",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -256,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jZGSoFjrCHiw7wrS",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "router-003",
      "name": "Run Platform Alert Investigator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        -128
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NAzxH4JB9cbsE4rz",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "router-004",
      "name": "Run Platform Incident Investigator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ]
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Run Platform Alert Investigator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Platform Incident Investigator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  }
}
